<h4 class="uk-width-1-1 uk-margin-bottom">説明不要なプログラミングTips集</h4>
<div class="uk-width-2-3">
    <h2 class="contents-title">
        <%= @categoryName %>
    </h2>
    <div class="top-blue tips-view" style="font-size:1.3em;">
        <%= render 'layouts/tip' %>
    </div>
    <%= render 'layouts/pagenate' %>
</div>

<%= render 'layouts/categoryList' %>
