<div class="prog-bar uk-width-1-1">
    <%= link_to_prev_page @tips, 'BACK', class:'uk-align-left', :method => @method %>
    <h><%= page_entries_info(@tips) %></h>
    <%= link_to_next_page @tips, 'NEXT', class:'uk-align-right', :method => @method  %>
</div>